   <!-- Footer -->  
    <footer id="footer" class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-4 border-top">
      <!-- Columna Izquierda -->
      <div class="col-md-4 mb-0 text-body-secondary text-center text-md-start p-4">
        Versión 1.0
      </div>
  
      <!-- Columna Derecha -->
      <div class="col-md-4 mb-0 text-body-secondary text-center text-md-end p-4">
        <em>Andres Quesada e Hijos S.A.</em> &copy; {{year}}
      </div>
    </footer>